<ul class="site-menu">
    <li><a href="/chat">chat</a></li>
    {{#if session.user}}
    <li><a href="/logout">logout</a></li>
    {{else}}
    <li><a href="/login">login</a></li>
    <li><a href="/signup">signup</a></li>
    {{/if}}
</ul>
 