<!DOCTYPE>  
<html>  
    <head>  
        <title>Node Chat App v0.1 - {{title}}</title> 
        
        <!-- build:css css/main.css -->
        <link rel="stylesheet" href="/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <!-- endbuild -->

        <script src="//localhost:35729/livereload.js"></script>
        {{{block head}}}
    </head>  
    <body>
        
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Node Chat App v0.1</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>             
                     <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            {{#if session.user}}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{session.user.username}} <span class="caret"></span></a>
                            {{else}}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Guest <span class="caret"></span></a>
                            {{/if}}
                            <ul class="dropdown-menu" role="menu">
                                {{#if session.user}}
                                <li><a href="/profil">Profil</a></li>
                                <li class="divider"></li>
                                <li><a href="/logout">Logout</a></li>
                                {{else}}
                                <li><a href="/login">Login</a></li>
                                {{/if}}
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-10">
                {{{body}}}
                </div>
                <div class="col-sm-2">
                {{> sidebar}}
                </div>
            </div>
        </div>
    </body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>    
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="js/portal.js"></script>


</html>  