{{!< main}}

<h1>Chat</h1>

{{#if message}}
<div class="alert alert-danger">{{message}}</div>
{{/if}}

<form role="form" action="/chat" method="POST" id="chat-form">
	<div class="row">
		<div class="col-sm-12">
			<div class="chatmessages" id="chat-area">
			{{#each messages}}
			{{#if text}}
				<p> [{{datetime}}] <strong>&lt;{{user.username}}&gt;:</strong> {{text}}</p>
			{{/if}}
			{{/each}}
			</div>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-sm-10">
    		<label class="sr-only" for="message">Message</label>
    		<input type="text" class="form-control" name="message" id="message" placeholder="Enter your message">
  		</div>
  		<div class="col-sm-2">
			<button type="submit" class="btn btn-primary btn-block" id="chat-send">Send</button>
		</div>
	</div>
</form>