<h1>Profil</h1>

<div class="well well-sm">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-6 col-md-8">
            <h2>{{session.user.username}}</h2>
            <h5><cite title="Budapest, Hungary">Budapest, Hungary </cite></h5>
            <p>
	            Email: {{session.user.email}} <br />
                Id: {{session.user._id}}
            </p>
        </div>
    </div>
</div>
