 @bg: #DDD;
    
body { 
    padding-top: 90px;
    background: @bg;
}

.chatmessages {
	background: #EEE;
	padding: 5px;
	font-family: monospace;
	font-size: 12px;
	p {
		&:last-child {
			margin: 0;
		}
	}
} 